*, *:before, *::after {
    box-sizing: border-box;
}
.navbar {
        display: block;
        text-align:center;
        float: none;
}

body {
    margin: 2rem;
}

#currentDay {
    vertical-align: middle;
}
.bg-light {
    padding-top: 1rem;
}

.latest-city {
    padding: 1rem 1.75rem;
}
p {
    line-height: 1rem;
}

li {
    list-style: none;
    padding: .5rem;
    text-align: center;
    border: 1px solid; border-color: #d3d3d3 ;
    border-radius: 2px;
    padding-bottom: .5rem
}

.days {
    color: #f5f5f5;
    border: lightblue;
    background-color: royalblue;
    padding: 1rem;
    border: 1rem;

}