*, *:before, *::after {
    box-sizing: border-box;
}
.navbar {
        display: block;
        text-align:center;
        float: none;
}

body {
    margin: 2rem;
}

#currentDay {
    vertical-align: middle;
}
.bg-light {
    padding-top: 1rem;
}

.city-container {
    padding-top: 1rem;
}

li {
    list-style: none;
    padding: .5rem;
    text-align: center;
    border: 1px solid;
    border-radius: 2px;
    padding-bottom: .5rem
}
